* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    --max-width-global-container:var(--max-width-global-container)
  max-width: 1400px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(27, 27, 27);
  background-color: #FFFFFF;
}


/* NAVIGATION BAR STYLING START */
  .navbar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    margin: 10px auto;
  }




/* TOP NAV STYLING START */
  .navbar .top-nav {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
  }
  .navbar .top-nav .logo{
    margin: 0 50px;
  }
  .navbar .top-nav .logo img{
    width: 82px;
    height: 22.5px;
  }

  .navbar .top-nav .nav-manu ul{
    display: flex;
    gap: 20px;
  }

  .navbar .top-nav .nav-manu ul li{
    list-style: none;
  }


  .navbar .top-nav .search img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 10px;
  }
/* TOP NAV STYLING END */




/* TOP NAV STYLING START */
.navbar .sec-nav ul{
  display: flex;
  gap: 20px;
}
.navbar .sec-nav ul li{
  list-style: none;
}
/* TOP NAV STYLING END */


/* NAVIGATION BAR STYLING END */






/* MAIN WEB STYLING START */

main .main{
    max-width: 80%;
    margin: 0 auto;
}
/* MAIN WEB STYLING END */


/* HERO 1 STYLING START */
/* .hero-1{
  display: flex;
  max-width: 80%;
  margin: auto;

} */
.hero-1 .left .content h1 {
      font-size: 72px;
}

.hero-1 .left .content button {
    margin-bottom: 40px;
}

/* HERO 1 STYLING END */




/* HERO 2 STYLING START */
  .hero-2 {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;

  }

  .hero-2 .container{
    background-color:#13544E;
    border-radius: 10px;
    margin: 0 auto;
  }

  .hero-2 .container button{
    margin-bottom: 20px;
  }

  .hero-2 .left{
    max-width: 100%;
    padding: 35px 45px 35px 35px;
  }


  .hero-2 .left h4{
    font-size: 24px;
    margin-bottom: 35px;
    color: #FFFFFF;
  }


  .hero-2 .left h1{
    font-size: 56px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

.hero-2 .left h1 span{
  color: #91E6B3;
}


.hero-2 .left p{
  font-size: 20px;
  color: #FFFFFF;
}



.hero-2 .left .list img{
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
  margin-top: 5px;
}


.hero-2 .right{
    width: 100%;
  }
.hero-2 .right img{
  width: 598px;
  height: 610px;
}
  
/* HERO 2 STYLING END */


/* TELENT SECTION STYLING START */

 .telent .cards .card-1{

  background-color: #F9F9F9 !important ;

}

/* TELENT SECTION STYLING START */


/* HERO 3 STYLING START */
.hero-3{
  background-image: url(./images/bannre-2.jpg);
  background-position: top;
    background-size: cover;
    /* letter-spacing: .6px; */
    padding: 15px;
    color: #FFFFFF;
    max-width: 100%;
    
}

.hero-3 .content h4{
  font-size: 24px;
  margin-bottom: 100px;
}

.hero-3 .content h2{
  font-size: 64px;
}

.hero-3 .content p{
  font-size: 24px;
  font-weight: 500;
}
.hero-3 .cards{
  max-width: 90%;
  margin: 10px auto;
  column-gap: 35px;

  
  
}
.hero-3 .cards .card-1 {
  background-color: #108A00;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem;
}

.hero-3 .cards .card-1:hover{
  color: #108A00;
  background-color: #FFFFFF;
}

.hero-3 .cards .card-1 p{
  display: inline;
  margin-left: 5px;
}
.hero-3 .cards .card-2 {
  background-color: #108A00;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  padding: 2rem;
}

.hero-3 .cards .card-2:hover{
  color: #108A00;
  background-color: #FFFFFF;
}

.hero-3 .cards .card-2 p{
  display: inline;
  margin-left: 5px;
}
.hero-3 .cards .card-3 {
  background-color: #108A00;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  padding: 2rem;
}

.hero-3 .cards .card-3:hover{
  color: #108A00;
  background-color: #FFFFFF;
}

.hero-3 .cards .card-3 p{
  display: inline;
  margin-left: 5px;
}
/* HERO 3 STYLING END */



/*WHY UPWORK STYLING START */

.bg-gray {
  background-color: #f8f9fa; /* Light gray */
}
.bg-green {
  background-color: #28a745; /* Bootstrap green */
  color: white;
  height: 635px;
}
.icon-wrapper svg {
  width: 50px;
  height: 50px;
  color: #001e00;
}
.award-icon {
  width: 30px;
  height: 30px;
}


/* MAIN WEB STYLING END */














