* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 6rem;
    background-color: black;
    color: aliceblue;
}

.form{
    border-right: 2px solid darkcyan;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
form {
    border: 2px solid darkblue;
    /* max-width: 100%; */
    margin: 10px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

label {
    display: block;
    margin: 15px 5px 5px 5px;
    /* text-align: center; */
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {

    display: block;
    padding: 1rem 7rem;
    border-radius: 50px;
    margin: 1rem auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.p {
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    align-content: center;
    justify-items: center;
    border: 2px solid gray;
    margin: 100px 20px;
    border-radius: 20px;
    
    
}


